doctype html
html
  head
    meta(charset='utf-8')
    title BANKR
    link(rel='stylesheet' href='/css/style.css')
  body
    h1 BANKR
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/contact') Contact
        li: a(href='/faq') FAQ
        li: a(href='/accounts') Accounts List
        li: a(href='/accounts/new') Add Account
    block content
