doctype html
html
  head
    meta(charset='utf-8')
    title ~~~+++TSK-MSTR+++~~~
    link(rel='stylesheet' href='/css/style.css')
  body
    h1 ~~~+++TSK-MSTR+++~~~
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/priorities') Priorities List
        li: a(href='/priorities/new') Add Priority
        li: a(href='/tasks') Tasks List
        li: a(href='/tasks/new') Add Tasks

    block content
